*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.header{
  grid-area: header;
  background-color: gray;
  width:100vw;
  height:17vh;
}

.main{
  grid-area: main;
  margin-top:10px;
  margin-bottom: 10px;
}
 .content-a{
  background-color: red;
  width:80vw;
  height:31vh;
}

.content-b{
  background-color: orange;
  width:80vw;
  height:31vh;
}

.content-c{
  grid-area:sidebar;
  background-color: yellow;
  width:20vw;
  /* margin-left:43px; */
  margin-top:10px;
  margin-bottom: 10px;
}

.footer{
  grid-area:footer;
  background-color: gray;
  width:100vw;
  height:17vh;
}

.container{
  display:grid;
  /* grid-template-columns: 350px 350px 350px 350px; */
  grid-template-rows: auto;
  grid-template-areas:
  "header header header header"
  "main main main sidebar"
  "footer footer footer footer";
}


@media screen and (max-width:768px){
  .header, .footer{
		height:50px;
	}

	.content-a, .content-b{
		height:36.5vh;
		width:50vw;
	}
	.content-c{
		height:73vh;
		width:50vw;
	}
}

@media screen and (max-width:320px){
	.main{
		margin-bottom: 0;
	}

	.header, .footer{
		height:30px;
	}

	.content-a, .content-b, .content-c{
		height:27.5vh;
		width:100vw;
	}

  .content-c{
		/* width:100vw; */
		/* height: */
		margin-top:0;
  }

  .container{
		display:block;
  }
}
